@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
   padding: 0;
   margin: 0;  
}

body, button{
      font-family: 'Barlow Condensed', sans-serif; 
      padding: 0 5%;
      background-color: #fdf6fb;
}

a{
      text-decoration: none;
}

.top_title_40px{
      font-size: 40px;
      font-weight: 600;
      color: #0B0223;
}

.title_90px{
      font-size: 90px;
      font-weight: 800;
}

.font_gradient{
      background: linear-gradient(to bottom, #F00CE8 22%, #7A0ACF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.section_paragraph{
      color: #534C64;
      text-align: right;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 39px;
}

.p_20px{
      font-size: 20px;
      margin-top: 24px;
      font-weight: 400;
}

.p_30px{
      color: #26232c;
      font-size: 30px;
      font-weight: 700;
}

.pink_btn{
      padding: 18px 40px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 50px;
      border: none;
      background-color: #FF42A5;
      color: #fff;
      letter-spacing: 1px;
      font-family: 'Barlow Condensed', sans-serif; 
}

.blue_btn{
      padding: 18px 40px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 50px;
      border: none;
      background-color: #4EC5F7;
      color: #fff;
      letter-spacing: 1px;
      font-family: 'Barlow Condensed', sans-serif; 
}



/* ============== */

/* navbar start */
.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
     
}

.logo_inner{
      display: flex;
      align-items: center;
      gap: 10px;
}

.logo_inner h2{
      font-size: 45px;
}

.logo_font_color{
      color: #FF42A5;
}

.menu {
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: 2px solid palevioletred; */
      gap: 50px;
      
}

.menu a {
      text-decoration: none;
      font-size: 18px;
}

.menu_btn{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
      width: 221px;
      height: 56px;
      background-color: rgba(11, 2, 35, 0.10);
      border: none;
      border-radius: 8px;
      cursor: pointer;
}

.menu_btn:hover{
      background-color: rgba(11, 2, 35, 0.274);
}

.menu_btn h5{
      font-size: 18px;
      margin-right: 10px;
      font-weight: 400;
}

.follow_btn_icon{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.follow_btn_icon img{
      width: 30%;
}

/* navbar end */

/* banner start */
.banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.banner_lists{
      margin-bottom: 40px;
}

.list{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 17px;
      margin-top: 10px;
}

.list img{
      width: 20px;
      margin-right: 20px;
}

.banner_image img{
      width: 100%;
}
/* banner end */

/* gamer section start */

.gamer{
      display: flex;
      justify-content: space-between;
      align-items: center;
}


.gamer_image{
      width: 70% !important;
}

.gamer_image img{
      width: 100%;
}

.gamer_text{
      width: 30%;
}

.gamer_text{
      text-align: end;
}

.gamer_sm-title{
      margin-top: 40px;
      bottom: 20px;
}

/* gamer section end */

/* online-game section start */

.online_game{
      padding: 120px 0;
}

.online_gamer_title{
      text-align: center;
}

.online_game_cards{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-top: 40px;
}

.card img{
      width: 100%;
}

.card_img{
      position: relative;
      z-index: 0;
}

.card_overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: #0707079c;
      z-index: 1000;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.card_overlay img{
      width: 40px;
      cursor: pointer;
}

.overlay_title{
      color: #FF42A5;
}

.card_img:hover .card_overlay{
      height: 100%;
      transition: 0.5s ease-in-out;
}



/* online-game section end */


















/* =======================
RESPONSIVE CODE START
========================= */

/* MOBILE DEVICE */
@media (max-width: 768px) {
  
      .navbar, .menu{
            flex-direction: column;
            gap: 20px;
           
      }

      .banner{
            flex-direction: column-reverse;
            text-align: center;
      }

      .banner_text{
            margin-top: 60px;
            width: 100%;
      }

      .banner_image{
            margin-top: 30px;
            width: 100%;
      }

      .gamer{
            flex-direction: column;
      }

      .gamer_image, .gamer_text{
            width: 100% !important;
            margin-top: 100px;
            text-align: center;
      }

      .gamer_sm-title{
            margin-top: 80px;
            margin-bottom: 20px;
      }

      .section_paragraph{
            text-align: center;
      }

      .online_game_cards{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0px;

      }


    }

    /* tab */

    @media (min-width: 768px) and (max-width: 992px) {
  
      .banner_text,.banner_image{
            width: 50%;
      }

      .gamer_image, .gamer_text{
            width: 70% !important;
            margin-top: 100px;
            text-align: center;
      }
      
    }